<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text = "#{Offer.add}">Agregar Oferta</h2>
		<form class="form-horizontal" method="post" action="/offer/add"
			th:object="${offer}">

			<div class="form-group">
				<label class="control-label col-sm-2" for="title" th:text = "#{Offer.title}">Título:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title"
						th:placeholder="#{Offer.title.suggest}"
						required="true" /> <span class="text-danger"
						th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="description" th:text = "#{Offer.description}">Descripción:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="description"
						th:placeholder="#{Offer.description.suggest}"
						required="true" /> <span class="text-danger"
						th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}" />
				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-sm-2" for="price" th:text = "#{Offer.price}">Precio:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="price" step="0.01"
						th:placeholder="#{Offer.price.suggest}" required="true" /> <span
						class="text-danger" th:if="${#fields.hasErrors('price')}"
						th:errors="*{price}" />
				</div>
			</div>
			<strong><p>
				<span th:text = "#{Offer.date.message}"></span>
				<script>
					n = new Date();
					y = n.getFullYear();
					m = n.getMonth() + 1;
					d = n.getDate();
					document.write( d+ "/" + m + "/" + y);
				</script>
			</p></strong>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text = "#{Offer.sendButton}">Enviar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
