<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Ofertas</h2>
		<form class="navbar-form" action="/offer/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por título o descripción">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>
		<p>Las ofertas que actualmente figuran en el sistema son las
			siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableOffers"
				id="tableOffers">
				<thead>
					<tr>
						<th class="col-md-2">Título</th>
						<th>Descripción</th>
						<th>Precio</th>
						<th>Vendedor</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">
						<td th:text="${offer.title}"></td>
						<td th:text="${offer.description}"></td>
						<td th:text="${offer.price}"></td>
						<td th:text="${offer.user.name +' '+offer.user.lastName}"></td>
						<td th:if="${money >= offer.price}"><a
							th:if="!${offer.buyed}"
							th:href="${'/offer/buy/' + offer.id+'-'+page.getNumber()}">Comprar</a></td>
						<th th:unless="${money >= offer.price}"><a
							th:if="!${offer.buyed}">No tienes suficiente dinero</a></th>
						<th><a th:if="${offer.buyed}">Vendido</a></th>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
